.horizontal-grid {
  display:grid;
  /**
   * Set values here.
   */
  --grid-layout-gap: 10px;
  --grid-column-count: 4;
  --grid-item--min-width: 200px;

  /**
   * Calculated values for spacing.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
}

.horizontal-grid-item a:link {
  text-decoration: none;
  color:black;
}

.horizontal-grid-item a:visited {
  text-decoration: none;
  color:black;
}

.horizontal-grid-item img{
  width:100%;
  transition: opacity 0.75s;
}
.horizontal-grid-item img:hover{
  opacity:0.8;
}

.horizontal-grid-item{
  box-shadow: 0px 10px 10px #d1d0d0;
  min-height: 80px;
}

.horizontal-grid-item p{
  margin-left: 20px;
  margin-right: 20px;
  transition: color 0.5s;
}

.horizontal-grid-item p:hover{
  margin-left: 20px;
  margin-right: 20px;
  color:red;
}

#language-filter-wrapper {
  max-width:1305px;
  display:grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 12fr;
  margin: 10px auto auto auto;
}

#language-filter-wrapper .projects {
  margin: auto 0;
}


#filter-toggles {
  display: flex;
  flex-direction: column;
  max-width: 100px;
  margin: 0 5px auto auto;
}

#filter-toggles button {
  margin-bottom: 5px;
}

#filter-toggles button.active {
  color: red;
}
